<!-- <div class="throughput-main">
    <div class="throughput-body">
        <form>
            <div class="form-group">
                <label>Live Plant Data</label>
                <div class="custom-file">
                    <input type="file" id="customFile" name="myfile" accept=".xls,.xlsx" placeholder="Select File">
                    <label for="customFile" class="custom-file-label">Select File</label>
                </div>
            </div>
            <div class="form-group">
                <label>Live Plant Data</label>
                <div class="custom-file">
                    <input type="file" id="customFile" name="myfile" accept=".xls,.xlsx" placeholder="Select File">
                    <label for="customFile" class="custom-file-label">Select File</label>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Upload & Calculate</button>
                <span class="throughput-span">
                    <button class="btn btn-link" type="submit">Download Template</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="lower-throughput-div-left column">
        <div class="lower-throughput-div-body"></div>
    </div>
    <div class="lower-throughput-div-right column">
        <div class="lower-throughput-div-body">
            <div class="throughput-description">
                Model Output Data
            </div>
            <p class="fw-bold mb-1 mt-2">Throughput Average</p>
            <p class="mb-1">Plant Actual (Live Data): 0tph</p>
            <p class="mb-1">Model Predicted (Live Data): 0tph</p>
            <p class="mb-1">Model Predicted (Simulated Data): 0tph</p>
            <p class="fw-bold mb-1">Residual Error: 0%</p>
            <p class="fw-bold">Enhanced Throughput Change: 0%</p>
        </div>
    </div>
</div> -->