<!-- <div class="resultant-main">
    <div class="resultant-body">
        <form>
            <div class="form-group">
                <label>Live Plant Data</label>
                <div class="custom-file">
                    <input type="file" id="customFile" name="myfile" accept=".xls,.xlsx" placeholder="Select File">
                    <label for="customFile" class="custom-file-label">Select File</label>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Upload & Calculate</button>
                <span class="resultant-span">
                    <button class="btn btn-link" type="submit">Download Template</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="lower-div column">
        <div class="lower-div-body"></div>

    </div>
</div> -->
